<div id="wrapper">
    <div class="jumbotron">
      <h1><%= @sample.title%></h1>
      <p><%= truncate(@sample.description,length:200)%></p>
      <p><%= link_to "Show more",movie_path(@sample),class:"btn btn-lg btn-default"%></p>
    </div>
    <div class="owl-carousel">
        <% @movies.each do |movie|%>
            <div>
                <%= content_tag "div",(image_tag movie.images[-1].url)%>
                <%= content_tag "div",movie.title%>
                <%= content_tag "div",truncate(movie.description,length:100)%>
                <%= link_to "See More",movie_path(movie),class:"font-color-red"%>
            </div>
        <% end %>
    </div>
    <div class="padding-all-sm">
        <h3 class="btn btn-default font-md margin-bottom-xs">Latest News : </h3>
        <div id="news" class="flexslider" style="border:0;background-color:#141414;">
            <ul class="slides" id="news-slider">
            </ul>
        </div>
    </div>
    
</div>
<script>
    let imageUrl = "<%= j(@sample.images[0].url)%>"
    $('.owl-carousel').owlCarousel({
        loop:true,
        items:4,
        margin:10
    })
    
    
    $(".jumbotron").css({
        'background-image' : 'url(' + imageUrl + ')',
        'background-size' : 'cover'
    })
    
    var news = $('#news');
    var url = 'https://newsapi.org/v2/everything?' +
          'q=hollywood&' +
          'from=2018-08-10&' +
          'sortBy=popularity&' +
          'apiKey=<%= ENV["NEWS_FEED_API"]%>';

    $.get(url,function(data){
        let articles = data.articles
        let articles_array = []
        let i = 0;
        while(i < 20){
            $('#news-slider').append(`
            <li>
                <div>
                    <a href=${articles[i].url}><image src="${articles[i].urlToImage}" style="width:100%;height:120px;border-radius:5px;">
                </div>
                <div>
                    <p class="padding-all-xs">${articles[i].title.substring(0,60)+"...."}</p>
                </div>
            </li>
                `)
            i += 1;
        }
        
        $('.flexslider').flexslider({
            animation: "slide",
            itemWidth: 210,
            itemMargin: 5,
            minItems: 4,
            maxItems: 6
        });
    },'json')

    
</script>