<h1 class="font-color-red">New Movie:</h1>
<div id="new-movie">
    <%= form_tag :new_movie,method: :get,remote:true,id:"new-movie-form" do %>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <%= label_tag :title%>
                <div class="row">
                    <div class="col-md-8">
                         <%= text_field_tag :title,nil,placeholder:"eg:Skyscraper",class:"form-control",required:true%>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <%= label_tag :year%>
                <div class="row">
                    <div class="col-md-8">
                         <%= text_field_tag :year,nil,placeholder:"eg:2018",class:"form-control",required:true%>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <%= label_tag :director,"Directed by:"%>
                <div class="row">
                    <div class="col-md-8">
                         <%= text_field_tag :director,nil,placeholder:"Nicholas Cage",class:"form-control",required:true%>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <%= label_tag :description%>
                <div class="row">
                    <div class="col-md-8">
                         <%= text_field_tag :description,nil,placeholder:"Modern treasure hunters search for a chest of riches rumored to have been stashed away by George Washington, Thomas Jefferson and Benjamin Franklin.",class:"form-control",required:true%>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
               <%= label_tag :age%>
                <div class="row">
                    <div class="col-md-8">
                         <%= text_field_tag :age,nil,class:"form-control",placeholder:"eg:18+"%>
                    </div>
                </div>
            </div> 
            <div class="form-group">
               <%= label_tag :hour%>
                <div class="row">
                    <div class="col-md-8">
                         <%= text_field_tag :hour,nil,class:"form-control",placeholder:"eg:2"%>
                    </div>
                </div>
            </div> 
            <div class="form-group">
               <%= label_tag :minute%>
                <div class="row">
                    <div class="col-md-8">
                         <%= text_field_tag :minute,nil,class:"form-control",placeholder:"eg:50"%>
                    </div>
                </div>
            </div> 
            <div class="form-group">
                <%= label_tag :number_of_starring%>
                <div class="row">
                    <div class="col-md-8">
                         <%= text_field_tag :number_of_starring,nil,placeholder:"eg:2",class:"form-control",required:true%>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <%= label_tag :number_of_cast%>
                <div class="row">
                    <div class="col-md-8">
                         <%= text_field_tag :number_of_cast,nil,placeholder:"eg:8",class:"form-control",required:true%>
                    </div>
                </div>
            </div>
             <div class="form-group">
                <%= submit_tag "Next",class:"btn btn-default"%>
            </div>
        </div>
    </div>
        
        
    <% end %>
</div>