<div class="row">
    <div class="col-md-3">
        <%= link_to "Go Back",:back,class:"btn btn-default"%>
    </div>
    <div class="col-md-6">
        <h3 class="font-color-red"><%= @movie.title%></h3>
    </div>
    <div class="col-md-3">
        <button id="detail-button" class="btn btn-default">Show Details</button>
    </div>
</div>

<%= form_for @movie do |f|%>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <%= f.label :title%>
                <div class="row">
                    <div class="col-md-8">
                         <%= f.text_field :title,class:"form-control"%>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <%= f.label :director%>
                <div class="row">
                    <div class="col-md-8">
                         <%= f.text_field :director,class:"form-control"%>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <%= f.label :year%>
                <div class="row">
                    <div class="col-md-8">
                         <%= f.text_field :year,class:"form-control"%>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <%= f.label :description%>
                <div class="row">
                    <div class="col-md-8">
                         <%= f.text_area :description,class:"form-control",rows:8%>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <%= f.label :age%>
                <div class="row">
                    <div class="col-md-8">
                         <%= f.text_field :age,class:"form-control"%>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <%= f.label :hour%>
                <div class="row">
                    <div class="col-md-8">
                         <%= f.text_field :hour,class:"form-control"%>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <%= f.label :minute%>
                <div class="row">
                    <div class="col-md-8">
                         <%= f.text_field :minute,class:"form-control"%>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <%= f.label :starring%>
                <div class="row">
                    <div class="col-md-8">
                        <% @movie.starring.each do |s|%>
                            <%= text_field_tag "starring[]",s,class:"form-control"%>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" id="general">
        <div class="form-group">
            <%= content_tag "div","Images(Drag to see more): Click to delete image",class:"margin-bottom-xs"%>
            <div class="row">
                <div class="col-md-8 owl-carousel-photo flexslider black-background no-border">
                    <ul class="slides">
                        <% @movie.images.each_with_index do |i,index|%>
                        <li align="center" id="photo">
                            <%= image_tag i.url,class:"image-small",style:"height:200px;"%>
                            <%= link_to "Delete this photo","/movies/#{@movie.id}/destroy_photo?p=#{index}",remote:true,class:"btn btn-default margin-top-xs delete-photo"%>
                        </li>
                    <% end %>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group">
            <%= f.label :images,"Add Images"%>
            <div class="row">
                <div class="col-md-8">
                    <%= f.file_field :images,multiple:true%>
                </div>
            </div>
        </div>
        <div class="form-group">
            <%= content_tag "div","Video(Drag to see more): Click to delete video"%>
            <div class="row">
                <div class="col-md-8" id="delete-video">
                    <div id="edit-video" align="center">
                        <video width="380" height="250" controls>
                          <source src="<%= @movie.video.url%>" type="video/mp4">
                        </video>
                        <%= link_to "Delete this video","/movies/#{@movie.id}/destroy_video",remote:true,class:"btn btn-default margin-top-xs delete-video"%>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <%= f.label :video,"Add video"%>
            <div class="row">
                <div class="col-md-8">
                    <%= f.file_field :video%>
                </div>
            </div>
        </div>
    </div>
        <div class="col-md-6" id="details">
            <%= f.fields_for :detail do |detail| %>
                <div class="form-group">
                    <%= detail.label :adjective%>
                    <div class="row">
                        <div class="col-md-8">
                            <%= text_field_tag :adjective,@movie.detail.adjective,class:"form-control"%>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <%= detail.label :audio%>
                    <div class="row">
                        <div class="col-md-8">
                            <% @movie.detail.audio.each do |audio|%>
                                <%= text_field_tag "audio[]",audio,class:"form-control"%>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <%= detail.label :subtitle%>
                    <div class="row">
                        <div class="col-md-8">
                            <% @movie.detail.subtitle.each do |subt|%>
                                <%= text_field_tag "subtitle[]",subt,class:"form-control"%>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <%= detail.label :cast%>
                    <div class="row">
                        <div class="col-md-8">
                            <% @movie.detail.cast.each do |c|%>
                                <%= text_field_tag "cast[]",c,class:"form-control"%>
                            <% end %>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-5">
            <%= f.submit "Update",class:"btn btn-default"%>
        </div>
    </div>
<% end %>

<script>
    let n = $('.slides').children().length
    
    $('.flexslider').flexslider({
        animation: "slide",
        itemWidth: 210,
        itemMargin: 5,
        maxItems: 1
    });
    
    $('#details').hide();
    let i = true
    $('#detail-button').click(function(){
        i = !i
        if(i){
            $('#general').fadeOut(500);
            $('#details').fadeIn(1000);
        }else{
            $('#general').fadeIn(500);
            $('#details').fadeOut(1000);
        }
        
    })
    $('.delete-photo').click(function(){
        if(confirm("Are you sure you want to delete this photo?")){
            $(this).closest('#photo').hide('slow',function(){
                n -= 1;
                if(n == 0){
                    $('.slides').html("<h3 class='font-color-red'>No photos to show.</h3>")
                }
            });
        }
        
    })
    
    $('.delete-video').click(function(){
        if(confirm("Are you sure you want to delete this video?")){
            $(this).closest('#edit-video').hide('slow',function(){
                 $('#delete-video').html("<h3 class='font-color-red'>No videos to show.</h3>")
            })
        }
    })
    
</script>