<!DOCTYPE html>
<html>
  <head>
    <title>Vonflix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <% unless content_for?(:dashboard_index) %>
      <%= render "layouts/navbar_after_signin"%>
    <% else %>
      <%= yield :dashboard_index%>
    <% end %>
    <div class="container">
      <% flash.each do |key,val| %>
        <div class="alert font-color-white text-center alert-<%= key == 'notice' || key == 'success' ? 'success' : 'danger' %>">
          <%= val %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
